{% extends "base.html" %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <br />
        <h1>What is this?</h1>
        <p>
            This takes a url that is very long and gives a shortend version that when hit will redirect to the long version.
            For example, if you have a url that is https://www.example.com/path/to/some/stuff?with&lots&of&stuff&after&it, you
            can create a shortend URL that is just {{ url_base }}/+0 that you can easily communicate, or link to where you don't
            want to jumble up the view with a very long URL.
        </p>
        <h2>Ok cool, how do I add a shortend URL</h2>
        <h3>Create a shortened URL with a random destination</h3>
        <p>
            Add a destination in the first box.  This should be in the format of https://www.example.com/stuff
            <img alt="URL submit form" src="{{ url_for('static', filename='form_url.png') }}">

        </p>
        <p>Note that the URL validator is expecting there to be a path included.  So if you just type www.franklin.edu
        you will get an error, because there is no path present.  You have to end the URL with a / if you are going to
        a base URL.  So http://www.example.com will give an error, but http://www.example.com/ will work.
        <p>Once you hit the Submit button, you will see the results page which will show your new shortened URL</p>
        <h3>Expected URL format?</h3>
        <p>
            You may specify the URL with or without the scheme (the http:// part at the beginning of the URL).
            Note that this service only deals with WEB redirects, so you may not use anything other than http or https
        </p>
        <p>
            As noted above, your URL must have a path included in it.  So if you are going to a base domain you
            <em>must</em> end the URL with a /.  If you have a url like http://www.example.com/something, then the
            /something is the path part.
        </p>
        <p>If you do not specify a scheme, it will default to http://, which will typically just work (though you may
        get an additional https redirect from the destination webserver).</p>
        <h2>Create a custom keyword-based URL</h2>
        <p>
            You may optionally add a /keyword URL type by specifying that keyword in addition to the destination URL
            <img alt="URL submit form" src="{{ url_for('static', filename='form_keyword.png') }}">
        </p>
        <p>
            If you specify something in the keyword field, you will get a
            random short URL AND your custom string.  Both URLS target the same redirect, so as far as hit count stats,
            they will be the same regardless of hitting the /keyword or /+0 &quot;random&quot; version.
        </p>
        <p>
            Note: /keyword shortcuts are global.  If you want a /testing keyword, but that keyword is already in use,
            you will get an error
        </p>
    </div>
    {% endblock %}
