{% extends "base.html" %}
{% block title %}Franklin URL Shortening{% endblock %}
{% block body %}
<div class="jumbotron">
    <div class="container">
        <br />
        {% if not short_url %}
            {% if errors|length > 0 %}
                <div class="alert alert-warning" role="alert">
                {% for error in errors %}
                    {{ error }}<br />
                {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <form method="post" class="navbar-form navbar-right" action="">
                        <div class="form-group">
                            <input type="text" id="url" name="url" class="form-control input-lg chat-input" placeholder="URL to shorten" />
                            <small id="urlhelp" class="form-text text-muted">
                                Enter the destination URL.
                            </small>
                            <input type="text" id="keyword" name="keyword" class="form-control input-lg chat-input" placeholder="Keyword (optional)" />
                            <small id="keyhelp" class="form-text text-muted">
                               To make a URL like {{ url_base }}/keyword
                            </small>
                            <br>
                            <button type="submit" class="btn btn-lg btn-info">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div>
                <p>
                    Your shortened URL is: <a href="/{{ short_url }}"> {{ url_base }}/{{short_url}}</a>
                </p>
            </div>
                {% if keyword %}
                    <div>
                        <p>
                            You may also use your selected keyword: <a href="/{{ keyword }}"> {{ url_base }}/{{ keyword }}</a>
                        </p>
                    </div>
                {% endif %}

            </div>
        {% endif %}
    </div>
</div>
{% endblock %}